.data-table {
  // padding: 0px 16px;
  .q-table {
    tr {
      th {
        color: $blue-grey-9;
        background-color: $light-blue-1;
        font-weight: 500;
        font-size: 14px;
        .q-checkbox__inner {
          color: $blue-grey-9;
        }
      }

      td {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $grey-7;

        &.overflow-hidden {
          max-width: 350px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &.link {
          cursor: pointer;
          color: $blue-7;
        }
      }
    }
  }
  .q-table__bottom {
    &.q-table__bottom--nodata {
      color: $grey-7;
      justify-content: center;
    }
  }
  &.fixed-column {
    max-width: calc(100%);

    &.first {
      thead tr:first-child th:first-child {
        background-color: $grey-2;
        border-right: 1px solid $grey-4;
      }
      td:first-child {
        background-color: $grey-2;
        border-right: 1px solid $grey-4;
      }

      th:first-child,
      td:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
      }
    }
    &.last {
      thead tr:last-child th:last-child {
        background-color: $grey-2;
        border-left: 1px solid $grey-4;
      }
      td:last-child {
        background-color: $grey-2;
        border-left: 1px solid $grey-4;
      }

      th:last-child,
      td:last-child {
        position: sticky;
        right: 0;
        z-index: 1;
      }
    }
  }
}
